@import '../_vars';

// header styles

#header {
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid $grey;
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	background-color: $white;
	z-index: 9;
	.logo {
		img {
			width: 10rem;
		}
	}
}