@import '../_vars';

// location styles

#location {
	position: relative;
	padding-left: 1.75rem;
	color: $blue;
	cursor: pointer;
	&:hover {
		&:before {
			transform: translateY(-.15rem);
		}
	}
	&:before {
		content: '';
		position: absolute;
		top: auto;
		bottom: auto;
		left: 0;
		width: 1.3rem;
		height: 1.3rem;
		background: url(../images/icons/map-marker.svg) center center no-repeat;
		background-size: contain;
		transition: all .2s ease-in-out;
	}
}