@import '../_vars';

// nav styles

#nav {
	ul {
		display: flex;
		list-style: none;
		li {
			&:not(:last-child) {
				margin-right: 2.4rem;
			}
			&:hover {
				a {
					color: $blue;
				}
			}
			a {
				text-decoration: none;
				font-weight: bold;
				transition: all .2s ease-in-out;
			}
		}
	}
}