@import '../_vars';

// breadcrumbs

#page-head {
	padding: 2rem 0;
	.breadcrumbs {
		ul {
			display: flex;
			list-style: none;
			flex-wrap: wrap;
			li {
				color: $grey;
				&:not(:last-child) {
					margin-right: .5rem;
					&:after {
						content: '/';
						padding-left: .3rem;
						display: inline;
					}
				}
				&:hover {
					a {
						color: $black;
					}
				}
				a {
					color: #999;
					text-decoration: none;
					transition: all .1s ease-in;
				}
			}
		}
	}
}