@font-face {
  font-family: 'Stolzl';
  src: url("../fonts/Stolzl-Bold.woff2");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Stolzl';
  src: url("../fonts/Stolzl-Regular.woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Stolzl';
  src: url("../fonts/Stolzl-Light.woff2");
  font-weight: 100;
  font-style: normal; }

* {
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

a {
  color: #222; }

.button {
  background-color: #2D0AF0;
  color: #fff;
  border-radius: 5rem;
  padding: .65rem 1.2rem;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all .75s ease-in-out;
  -o-transition: all .75s ease-in-out;
  transition: all .75s ease-in-out; }
  .button.icon {
    padding-left: 3.3rem;
    background-repeat: no-repeat;
    background-position: 11% 50%;
    background-size: .85rem; }
    .button.icon.account {
      background-image: url(../images/icons/account.svg); }
  .button:hover {
    -webkit-box-shadow: -2px 2px 13px rgba(45, 10, 240, 0.65);
    box-shadow: -2px 2px 13px rgba(45, 10, 240, 0.65); }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

h1, h2, h3, h4 {
  font-weight: normal; }

.text-block {
  color: #222; }
  .text-block h1, .text-block h2, .text-block h3, .text-block h4 {
    margin-bottom: 1.5rem;
    font-weight: bold; }
  .text-block p {
    line-height: 1.4; }
    .text-block p:not(:last-child) {
      margin-bottom: .85rem; }
  .text-block img {
    margin: 1.5rem 0; }

::-webkit-scrollbar {
  width: 5px; }

::-webkit-scrollbar-thumb {
  border-width: 1px 1px 1px 2px;
  border-color: #fafafa;
  background-color: #111; }

::-webkit-scrollbar-thumb:hover {
  border-width: 1px 1px 1px 2px;
  border-color: #fafafa;
  background-color: #666; }

::-webkit-scrollbar-track {
  border-width: 0; }

::-moz-scrollbar {
  width: 5px; }

::-moz-scrollbar-thumb {
  border-width: 1px 1px 1px 2px;
  border-color: #fafafa;
  background-color: #444; }

::-moz-scrollbar-thumb:hover {
  border-width: 1px 1px 1px 2px;
  border-color: #fafafa;
  background-color: #666; }

::-moz-scrollbar-track {
  border-width: 0; }

.show-mobile {
  display: none; }

.dis-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.align-self-center {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }

.align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.align-items-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.align-items-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.align-items-base {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.align-content-end {
  -ms-flex-line-pack: end;
  align-content: flex-end; }

.align-content-center {
  -ms-flex-line-pack: center;
  align-content: center; }

.align-content-between {
  -ms-flex-line-pack: justify;
  align-content: space-between; }

.justify-content-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.justify-content-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.justify-content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.justify-content-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.flex-wrap-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.flex-direction-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.dis-grid {
  display: -ms-grid;
  display: grid; }

.grid-gap-1 {
  grid-gap: 1px; }

.grid-gap-2 {
  grid-gap: 2px; }

.grid-gap-3 {
  grid-gap: 3px; }

.grid-gap-4 {
  grid-gap: 4px; }

.grid-gap-5 {
  grid-gap: 5px; }

.grid-gap-6 {
  grid-gap: 6px; }

.grid-gap-7 {
  grid-gap: 7px; }

.grid-gap-8 {
  grid-gap: 8px; }

.grid-gap-9 {
  grid-gap: 9px; }

.grid-gap-10 {
  grid-gap: 10px; }

.grid-gap-11 {
  grid-gap: 11px; }

.grid-gap-12 {
  grid-gap: 12px; }

.grid-gap-13 {
  grid-gap: 13px; }

.grid-gap-14 {
  grid-gap: 14px; }

.grid-gap-15 {
  grid-gap: 15px; }

.grid-gap-16 {
  grid-gap: 16px; }

.grid-gap-17 {
  grid-gap: 17px; }

.grid-gap-18 {
  grid-gap: 18px; }

.grid-gap-19 {
  grid-gap: 19px; }

.grid-gap-20 {
  grid-gap: 20px; }

.grid-gap-21 {
  grid-gap: 21px; }

.grid-gap-22 {
  grid-gap: 22px; }

.grid-gap-23 {
  grid-gap: 23px; }

.grid-gap-24 {
  grid-gap: 24px; }

.grid-gap-25 {
  grid-gap: 25px; }

.grid-gap-26 {
  grid-gap: 26px; }

.grid-gap-27 {
  grid-gap: 27px; }

.grid-gap-28 {
  grid-gap: 28px; }

.grid-gap-29 {
  grid-gap: 29px; }

.grid-gap-30 {
  grid-gap: 30px; }

.grid-gap-31 {
  grid-gap: 31px; }

.grid-gap-32 {
  grid-gap: 32px; }

.grid-gap-33 {
  grid-gap: 33px; }

.grid-gap-34 {
  grid-gap: 34px; }

.grid-gap-35 {
  grid-gap: 35px; }

.grid-gap-36 {
  grid-gap: 36px; }

.grid-gap-37 {
  grid-gap: 37px; }

.grid-gap-38 {
  grid-gap: 38px; }

.grid-gap-39 {
  grid-gap: 39px; }

.grid-gap-40 {
  grid-gap: 40px; }

.grid-gap-41 {
  grid-gap: 41px; }

.grid-gap-42 {
  grid-gap: 42px; }

.grid-gap-43 {
  grid-gap: 43px; }

.grid-gap-44 {
  grid-gap: 44px; }

.grid-gap-45 {
  grid-gap: 45px; }

.grid-gap-46 {
  grid-gap: 46px; }

.grid-gap-47 {
  grid-gap: 47px; }

.grid-gap-48 {
  grid-gap: 48px; }

.grid-gap-49 {
  grid-gap: 49px; }

.grid-gap-50 {
  grid-gap: 50px; }

.grid-col-lg-1 {
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1, 1fr); }

.grid-col-lg-2 {
  -ms-grid-columns: (2fr)[2];
  grid-template-columns: repeat(2, 2fr); }

.grid-col-lg-3 {
  -ms-grid-columns: (3fr)[3];
  grid-template-columns: repeat(3, 3fr); }

.grid-col-lg-4 {
  -ms-grid-columns: (4fr)[4];
  grid-template-columns: repeat(4, 4fr); }

.grid-col-lg-5 {
  -ms-grid-columns: (5fr)[5];
  grid-template-columns: repeat(5, 5fr); }

.grid-col-lg-6 {
  -ms-grid-columns: (6fr)[6];
  grid-template-columns: repeat(6, 6fr); }

.margin-rl-auto {
  margin-left: auto;
  margin-right: auto; }

.padding-t-5 {
  padding-top: 5px; }

.margin-t-5 {
  margin-top: 5px; }

.padding-t-6 {
  padding-top: 6px; }

.margin-t-6 {
  margin-top: 6px; }

.padding-t-7 {
  padding-top: 7px; }

.margin-t-7 {
  margin-top: 7px; }

.padding-t-8 {
  padding-top: 8px; }

.margin-t-8 {
  margin-top: 8px; }

.padding-t-9 {
  padding-top: 9px; }

.margin-t-9 {
  margin-top: 9px; }

.padding-t-10 {
  padding-top: 10px; }

.margin-t-10 {
  margin-top: 10px; }

.padding-t-11 {
  padding-top: 11px; }

.margin-t-11 {
  margin-top: 11px; }

.padding-t-12 {
  padding-top: 12px; }

.margin-t-12 {
  margin-top: 12px; }

.padding-t-13 {
  padding-top: 13px; }

.margin-t-13 {
  margin-top: 13px; }

.padding-t-14 {
  padding-top: 14px; }

.margin-t-14 {
  margin-top: 14px; }

.padding-t-15 {
  padding-top: 15px; }

.margin-t-15 {
  margin-top: 15px; }

.padding-t-16 {
  padding-top: 16px; }

.margin-t-16 {
  margin-top: 16px; }

.padding-t-17 {
  padding-top: 17px; }

.margin-t-17 {
  margin-top: 17px; }

.padding-t-18 {
  padding-top: 18px; }

.margin-t-18 {
  margin-top: 18px; }

.padding-t-19 {
  padding-top: 19px; }

.margin-t-19 {
  margin-top: 19px; }

.padding-t-20 {
  padding-top: 20px; }

.margin-t-20 {
  margin-top: 20px; }

.padding-t-21 {
  padding-top: 21px; }

.margin-t-21 {
  margin-top: 21px; }

.padding-t-22 {
  padding-top: 22px; }

.margin-t-22 {
  margin-top: 22px; }

.padding-t-23 {
  padding-top: 23px; }

.margin-t-23 {
  margin-top: 23px; }

.padding-t-24 {
  padding-top: 24px; }

.margin-t-24 {
  margin-top: 24px; }

.padding-t-25 {
  padding-top: 25px; }

.margin-t-25 {
  margin-top: 25px; }

.padding-t-26 {
  padding-top: 26px; }

.margin-t-26 {
  margin-top: 26px; }

.padding-t-27 {
  padding-top: 27px; }

.margin-t-27 {
  margin-top: 27px; }

.padding-t-28 {
  padding-top: 28px; }

.margin-t-28 {
  margin-top: 28px; }

.padding-t-29 {
  padding-top: 29px; }

.margin-t-29 {
  margin-top: 29px; }

.padding-t-30 {
  padding-top: 30px; }

.margin-t-30 {
  margin-top: 30px; }

.padding-t-31 {
  padding-top: 31px; }

.margin-t-31 {
  margin-top: 31px; }

.padding-t-32 {
  padding-top: 32px; }

.margin-t-32 {
  margin-top: 32px; }

.padding-t-33 {
  padding-top: 33px; }

.margin-t-33 {
  margin-top: 33px; }

.padding-t-34 {
  padding-top: 34px; }

.margin-t-34 {
  margin-top: 34px; }

.padding-t-35 {
  padding-top: 35px; }

.margin-t-35 {
  margin-top: 35px; }

.padding-t-36 {
  padding-top: 36px; }

.margin-t-36 {
  margin-top: 36px; }

.padding-t-37 {
  padding-top: 37px; }

.margin-t-37 {
  margin-top: 37px; }

.padding-t-38 {
  padding-top: 38px; }

.margin-t-38 {
  margin-top: 38px; }

.padding-t-39 {
  padding-top: 39px; }

.margin-t-39 {
  margin-top: 39px; }

.padding-t-40 {
  padding-top: 40px; }

.margin-t-40 {
  margin-top: 40px; }

.padding-t-41 {
  padding-top: 41px; }

.margin-t-41 {
  margin-top: 41px; }

.padding-t-42 {
  padding-top: 42px; }

.margin-t-42 {
  margin-top: 42px; }

.padding-t-43 {
  padding-top: 43px; }

.margin-t-43 {
  margin-top: 43px; }

.padding-t-44 {
  padding-top: 44px; }

.margin-t-44 {
  margin-top: 44px; }

.padding-t-45 {
  padding-top: 45px; }

.margin-t-45 {
  margin-top: 45px; }

.padding-t-46 {
  padding-top: 46px; }

.margin-t-46 {
  margin-top: 46px; }

.padding-t-47 {
  padding-top: 47px; }

.margin-t-47 {
  margin-top: 47px; }

.padding-t-48 {
  padding-top: 48px; }

.margin-t-48 {
  margin-top: 48px; }

.padding-t-49 {
  padding-top: 49px; }

.margin-t-49 {
  margin-top: 49px; }

.padding-t-50 {
  padding-top: 50px; }

.margin-t-50 {
  margin-top: 50px; }

.wrapper {
  padding-left: 1rem;
  padding-right: 1rem; }

.col-lg-1 {
  width: 8.33333333%; }

.col-lg-2 {
  width: 16.66666667%; }

.col-lg-3 {
  width: 25%; }

.col-lg-4 {
  width: 33.33333333%; }

.col-lg-5 {
  width: 41.66666667%; }

.col-lg-6 {
  width: 50%; }

.col-lg-7 {
  width: 58.33333333%; }

.col-lg-8 {
  width: 66.66666667%; }

.col-lg-9 {
  width: 75%; }

.col-lg-10 {
  width: 83.33333333%; }

.col-lg-11 {
  width: 91.66666667%; }

.col-lg-12 {
  width: 100%; }

.col-lg-vw-1 {
  width: 8.33333333vw; }

.col-lg-vw-2 {
  width: 16.66666667vw; }

.col-lg-vw-3 {
  width: 25vw; }

.col-lg-vw-4 {
  width: 33.33333333vw; }

.col-lg-vw-5 {
  width: 41.66666667vw; }

.col-lg-vw-6 {
  width: 50vw; }

.col-lg-vw-7 {
  width: 58.33333333vw; }

.col-lg-vw-8 {
  width: 66.66666667vw; }

.col-lg-vw-9 {
  width: 75vw; }

.col-lg-vw-10 {
  width: 83.33333333vw; }

.col-lg-vw-11 {
  width: 91.66666667vw; }

.col-lg-vw-12 {
  width: 100vw; }

#footer {
  padding-top: 4rem;
  margin-top: 4rem;
  background-color: #F4F4F4; }
  #footer .widget {
    padding-right: 4rem; }
    #footer .widget .title {
      color: rgba(34, 34, 34, 0.5);
      margin-bottom: 1rem; }
    #footer .widget ul {
      list-style: none; }
      #footer .widget ul li {
        line-height: 1.4; }
        #footer .widget ul li:not(:last-child) {
          margin-bottom: 1.5rem; }
        #footer .widget ul li p {
          color: rgba(34, 34, 34, 0.5); }
        #footer .widget ul li a {
          text-decoration: none; }
          #footer .widget ul li a:hover {
            text-decoration: underline; }
    #footer .widget.app .market {
      display: inline-block; }
      #footer .widget.app .market:not(:last-child) {
        margin-right: 1rem; }
    #footer .widget.app img {
      width: 2.3rem;
      height: 2.3rem; }
    #footer .widget.contacts .phone {
      font-size: 1.74rem;
      color: #222; }
    #footer .widget.contacts a {
      color: #2D0AF0; }
  #footer .copyright {
    padding: 1.5rem 0;
    margin-top: 3rem;
    border-top: 1px solid #DFDFDF;
    color: #DFDFDF; }

#page-head {
  padding: 2rem 0; }
  #page-head .breadcrumbs ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    #page-head .breadcrumbs ul li {
      color: #DFDFDF; }
      #page-head .breadcrumbs ul li:not(:last-child) {
        margin-right: .5rem; }
        #page-head .breadcrumbs ul li:not(:last-child):after {
          content: '/';
          padding-left: .3rem;
          display: inline; }
      #page-head .breadcrumbs ul li:hover a {
        color: #222; }
      #page-head .breadcrumbs ul li a {
        color: #999;
        text-decoration: none;
        -webkit-transition: all .1s ease-in;
        -o-transition: all .1s ease-in;
        transition: all .1s ease-in; }

#header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #DFDFDF;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 9; }
  #header .logo img {
    width: 10rem; }

#location {
  position: relative;
  padding-left: 1.75rem;
  color: #2D0AF0;
  cursor: pointer; }
  #location:hover:before {
    -webkit-transform: translateY(-0.15rem);
    -ms-transform: translateY(-0.15rem);
    transform: translateY(-0.15rem); }
  #location:before {
    content: '';
    position: absolute;
    top: auto;
    bottom: auto;
    left: 0;
    width: 1.3rem;
    height: 1.3rem;
    background: url(../images/icons/map-marker.svg) center center no-repeat;
    background-size: contain;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }

#nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none; }
  #nav ul li:not(:last-child) {
    margin-right: 2.4rem; }
  #nav ul li:hover a {
    color: #2D0AF0; }
  #nav ul li a {
    text-decoration: none;
    font-weight: bold;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }

.single-page-content {
  margin-top: 2rem; }
  .single-page-content .content-box {
    padding-right: 4rem; }
    .single-page-content .content-box h1 {
      font-size: 3rem;
      margin-bottom: 2rem; }
    .single-page-content .content-box table {
      border-collapse: collapse;
      margin-bottom: 1rem; }
      .single-page-content .content-box table, .single-page-content .content-box table th, .single-page-content .content-box table td {
        border: 1px solid;
        border-color: #DFDFDF; }
      .single-page-content .content-box table td {
        padding: .85rem; }
    @media screen and (min-width: 320px) and (max-width: 767px) {
      .single-page-content .content-box {
        padding-right: 0; }
        .single-page-content .content-box h1 {
          font-size: 2.2rem; } }

.single-page-content .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 3rem; }
  .single-page-content .pagination a {
    text-decoration: none;
    position: relative;
    -webkit-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in; }
    .single-page-content .pagination a:after {
      content: '';
      position: absolute;
      top: .2rem;
      bottom: auto;
      width: 1rem;
      height: 1rem;
      left: 0;
      background: url(../images/icons/arrow.svg) center center no-repeat;
      background-size: contain; }
    .single-page-content .pagination a:hover {
      text-decoration: underline; }
  .single-page-content .pagination .prev {
    color: #DFDFDF;
    padding-left: 1.4rem; }
    .single-page-content .pagination .prev:hover {
      color: #2D0AF0; }
  .single-page-content .pagination .next {
    color: #2D0AF0;
    padding-right: 1.4rem; }
    .single-page-content .pagination .next:after {
      left: auto;
      right: 0;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }

.single-page-content .sidebar .sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 7.5rem; }
  .single-page-content .sidebar .sticky .title {
    margin-bottom: 1.5rem;
    font-weight: bold; }
  .single-page-content .sidebar .sticky .post {
    padding: 2rem 0;
    border-bottom: 1px solid #DFDFDF; }
    .single-page-content .sidebar .sticky .post a {
      text-decoration: none; }
      .single-page-content .sidebar .sticky .post a:hover h4 {
        text-decoration: underline; }
  .single-page-content .sidebar .sticky .more-btn {
    color: #2D0AF0;
    text-decoration: none;
    display: inline-block;
    margin-top: 2rem; }
    .single-page-content .sidebar .sticky .more-btn:hover {
      text-decoration: underline; }

@media screen and (min-width: 320px) and (max-width: 767px) {
  .single-page-content .sidebar {
    margin-top: 3rem; } }

html {
  font-size: .8vw; }

body {
  background-color: #fff;
  font-family: 'Stolzl'; }

#main {
  padding-top: 5.1rem; }

@media screen and (min-width: 1280px) and (max-width: 1650) {
  .col-md-1 {
    width: 8.33333333%; }
  .col-md-2 {
    width: 16.66666667%; }
  .col-md-3 {
    width: 25%; }
  .col-md-4 {
    width: 33.33333333%; }
  .col-md-5 {
    width: 41.66666667%; }
  .col-md-6 {
    width: 50%; }
  .col-md-7 {
    width: 58.33333333%; }
  .col-md-8 {
    width: 66.66666667%; }
  .col-md-9 {
    width: 75%; }
  .col-md-10 {
    width: 83.33333333%; }
  .col-md-11 {
    width: 91.66666667%; }
  .col-md-12 {
    width: 100%; }
  .col-md-vw-1 {
    width: 8.33333333vw; }
  .col-md-vw-2 {
    width: 16.66666667vw; }
  .col-md-vw-3 {
    width: 25vw; }
  .col-md-vw-4 {
    width: 33.33333333vw; }
  .col-md-vw-5 {
    width: 41.66666667vw; }
  .col-md-vw-6 {
    width: 50vw; }
  .col-md-vw-7 {
    width: 58.33333333vw; }
  .col-md-vw-8 {
    width: 66.66666667vw; }
  .col-md-vw-9 {
    width: 75vw; }
  .col-md-vw-10 {
    width: 83.05vw; }
  .col-md-vw-11 {
    width: 91.66666667vw; }
  .col-md-vw-12 {
    width: 100vw; }
  .grid-col-md-1 {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr); }
  .grid-col-md-2 {
    -ms-grid-columns: (2fr)[2];
    grid-template-columns: repeat(2, 2fr); }
  .grid-col-md-3 {
    -ms-grid-columns: (3fr)[3];
    grid-template-columns: repeat(3, 3fr); }
  .grid-col-md-4 {
    -ms-grid-columns: (4fr)[4];
    grid-template-columns: repeat(4, 4fr); }
  .grid-col-md-5 {
    -ms-grid-columns: (5fr)[5];
    grid-template-columns: repeat(5, 5fr); }
  .grid-col-md-6 {
    -ms-grid-columns: (6fr)[6];
    grid-template-columns: repeat(6, 6fr); } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .col-lm-1 {
    width: 8.33333333%; }
  .col-lm-2 {
    width: 16.66666667%; }
  .col-lm-3 {
    width: 25%; }
  .col-lm-4 {
    width: 33.33333333%; }
  .col-lm-5 {
    width: 41.66666667%; }
  .col-lm-6 {
    width: 50%; }
  .col-lm-7 {
    width: 58.33333333%; }
  .col-lm-8 {
    width: 66.66666667%; }
  .col-lm-9 {
    width: 75%; }
  .col-lm-10 {
    width: 83.33333333%; }
  .col-lm-11 {
    width: 91.66666667%; }
  .col-lm-12 {
    width: 100%; }
  .col-lm-auto {
    width: auto; }
  .col-lm-vw-1 {
    width: 8.33333333vw; }
  .col-lm-vw-2 {
    width: 16.66666667vw; }
  .col-lm-vw-3 {
    width: 25vw; }
  .col-lm-vw-4 {
    width: 33.33333333vw; }
  .col-lm-vw-5 {
    width: 41.66666667vw; }
  .col-lm-vw-6 {
    width: 50vw; }
  .col-lm-vw-7 {
    width: 58.33333333vw; }
  .col-lm-vw-8 {
    width: 66.66666667vw; }
  .col-lm-vw-9 {
    width: 75vw; }
  .col-lm-vw-10 {
    width: 83.33333333vw; }
  .col-lm-vw-11 {
    width: 91.66666667vw; }
  .col-lm-vw-12 {
    width: 100vw; }
  .grid-col-lm-1 {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr); }
  .grid-col-lm-2 {
    -ms-grid-columns: (2fr)[2];
    grid-template-columns: repeat(2, 2fr); }
  .grid-col-lm-3 {
    -ms-grid-columns: (3fr)[3];
    grid-template-columns: repeat(3, 3fr); }
  .grid-col-lm-4 {
    -ms-grid-columns: (4fr)[4];
    grid-template-columns: repeat(4, 4fr); }
  .grid-col-lm-5 {
    -ms-grid-columns: (5fr)[5];
    grid-template-columns: repeat(5, 5fr); }
  .grid-col-lm-6 {
    -ms-grid-columns: (6fr)[6];
    grid-template-columns: repeat(6, 6fr); }
  .grid-gap-lm-1 {
    grid-gap: 1px; }
  .grid-gap-lm-2 {
    grid-gap: 2px; }
  .grid-gap-lm-3 {
    grid-gap: 3px; }
  .grid-gap-lm-4 {
    grid-gap: 4px; }
  .grid-gap-lm-5 {
    grid-gap: 5px; }
  .grid-gap-lm-6 {
    grid-gap: 6px; }
  .grid-gap-lm-7 {
    grid-gap: 7px; }
  .grid-gap-lm-8 {
    grid-gap: 8px; }
  .grid-gap-lm-9 {
    grid-gap: 9px; }
  .grid-gap-lm-10 {
    grid-gap: 10px; }
  .grid-gap-lm-11 {
    grid-gap: 11px; }
  .grid-gap-lm-12 {
    grid-gap: 12px; }
  .grid-gap-lm-13 {
    grid-gap: 13px; }
  .grid-gap-lm-14 {
    grid-gap: 14px; }
  .grid-gap-lm-15 {
    grid-gap: 15px; }
  .grid-gap-lm-16 {
    grid-gap: 16px; }
  .grid-gap-lm-17 {
    grid-gap: 17px; }
  .grid-gap-lm-18 {
    grid-gap: 18px; }
  .grid-gap-lm-19 {
    grid-gap: 19px; }
  .grid-gap-lm-20 {
    grid-gap: 20px; }
  .grid-gap-lm-21 {
    grid-gap: 21px; }
  .grid-gap-lm-22 {
    grid-gap: 22px; }
  .grid-gap-lm-23 {
    grid-gap: 23px; }
  .grid-gap-lm-24 {
    grid-gap: 24px; }
  .grid-gap-lm-25 {
    grid-gap: 25px; }
  .grid-gap-lm-26 {
    grid-gap: 26px; }
  .grid-gap-lm-27 {
    grid-gap: 27px; }
  .grid-gap-lm-28 {
    grid-gap: 28px; }
  .grid-gap-lm-29 {
    grid-gap: 29px; }
  .grid-gap-lm-30 {
    grid-gap: 30px; }
  .grid-gap-lm-31 {
    grid-gap: 31px; }
  .grid-gap-lm-32 {
    grid-gap: 32px; }
  .grid-gap-lm-33 {
    grid-gap: 33px; }
  .grid-gap-lm-34 {
    grid-gap: 34px; }
  .grid-gap-lm-35 {
    grid-gap: 35px; }
  .grid-gap-lm-36 {
    grid-gap: 36px; }
  .grid-gap-lm-37 {
    grid-gap: 37px; }
  .grid-gap-lm-38 {
    grid-gap: 38px; }
  .grid-gap-lm-39 {
    grid-gap: 39px; }
  .grid-gap-lm-40 {
    grid-gap: 40px; }
  .grid-gap-lm-41 {
    grid-gap: 41px; }
  .grid-gap-lm-42 {
    grid-gap: 42px; }
  .grid-gap-lm-43 {
    grid-gap: 43px; }
  .grid-gap-lm-44 {
    grid-gap: 44px; }
  .grid-gap-lm-45 {
    grid-gap: 45px; }
  .grid-gap-lm-46 {
    grid-gap: 46px; }
  .grid-gap-lm-47 {
    grid-gap: 47px; }
  .grid-gap-lm-48 {
    grid-gap: 48px; }
  .grid-gap-lm-49 {
    grid-gap: 49px; }
  .grid-gap-lm-50 {
    grid-gap: 50px; }
  [class*=padding-] {
    padding: 0; }
  html {
    font-size: 20px; }
  .hide-mobile {
    display: none; }
  .show-mobile {
    display: block; }
  #main {
    padding-top: 4rem; }
  #header {
    padding-top: .5rem;
    padding-bottom: .5rem; }
    #header [class*="col-"] {
      margin-bottom: 0; }
    #header .burger.active span:before {
      -webkit-transform: rotate(45deg) translateY(-6px);
      -ms-transform: rotate(45deg) translateY(-6px);
      transform: rotate(45deg) translateY(-6px); }
    #header .burger.active span:after {
      -webkit-transform: rotate(-45deg) translateY(6px);
      -ms-transform: rotate(-45deg) translateY(6px);
      transform: rotate(-45deg) translateY(6px); }
    #header .burger span {
      display: block;
      height: 1rem; }
      #header .burger span:before, #header .burger span:after {
        content: '';
        display: block;
        position: relative;
        width: 1.75rem;
        height: 3px;
        background-color: #2D0AF0;
        -webkit-transform-origin: left;
        -ms-transform-origin: left;
        transform-origin: left;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
      #header .burger span:after {
        top: .5rem; }
    #header .account {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
      #header .account .button {
        width: 2.3rem;
        height: 2.3rem;
        padding: 0;
        background-position: 50% 50%; }
    #header .mobile-nav {
      position: absolute;
      padding: 2.5rem 1rem;
      background-color: #fff;
      top: 4rem;
      height: calc(100vh - 4rem);
      left: 0;
      width: 70%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      z-index: 1;
      -webkit-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      -webkit-transform: translateX(calc(-100% - 4px));
      -ms-transform: translateX(calc(-100% - 4px));
      transform: translateX(calc(-100% - 4px)); }
      #header .mobile-nav.open {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0); }
      #header .mobile-nav #nav ul {
        display: block; }
        #header .mobile-nav #nav ul li {
          margin-right: 0; }
          #header .mobile-nav #nav ul li:not(:last-child) {
            margin-bottom: 1rem; }
      #header .mobile-nav .meta .widget.contacts {
        margin-top: 2rem; }
        #header .mobile-nav .meta .widget.contacts ul {
          list-style: none; }
          #header .mobile-nav .meta .widget.contacts ul li:not(:last-child) {
            margin-bottom: 1rem; }
          #header .mobile-nav .meta .widget.contacts ul li p {
            color: #F4F4F4; }
          #header .mobile-nav .meta .widget.contacts ul li a {
            text-decoration: none;
            color: #2D0AF0; }
            #header .mobile-nav .meta .widget.contacts ul li a.phone {
              font-size: 1.3rem;
              color: #222; }
      #header .mobile-nav .meta .copyright {
        font-size: .75rem;
        padding-top: 1.2rem;
        margin-top: 1.2rem;
        border-top: 1px solid #DFDFDF; }
    #header .overlay {
      position: absolute;
      top: 4rem;
      left: 0;
      width: 100vw;
      height: calc(100vh - 4rem);
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 0;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      -webkit-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; }
      #header .overlay.open {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        cursor: pointer; }
  #page-head {
    padding: 1rem 0; }
  .single-page-content {
    margin-top: 0; }
  #footer .widget {
    padding-right: 2rem; } }

@media screen and (min-width: 320px) and (max-width: 767px) {
  /* global */
  .col-xs-1 {
    width: 8.33333333%; }
  .col-xs-2 {
    width: 16.66666667%; }
  .col-xs-3 {
    width: 25%; }
  .col-xs-4 {
    width: 33.33333333%; }
  .col-xs-5 {
    width: 41.66666667%; }
  .col-xs-6 {
    width: 50%; }
  .col-xs-7 {
    width: 58.33333333%; }
  .col-xs-8 {
    width: 66.66666667%; }
  .col-xs-9 {
    width: 75%; }
  .col-xs-10 {
    width: 83.33333333%; }
  .col-xs-11 {
    width: 91.66666667%; }
  .col-xs-12 {
    width: 100%; }
  .col-xs-auto {
    width: auto; }
  .col-xs-vw-1 {
    width: 8.33333333vw; }
  .col-xs-vw-2 {
    width: 16.66666667vw; }
  .col-xs-vw-3 {
    width: 25vw; }
  .col-xs-vw-4 {
    width: 33.33333333vw; }
  .col-xs-vw-5 {
    width: 41.66666667vw; }
  .col-xs-vw-6 {
    width: 50vw; }
  .col-xs-vw-7 {
    width: 58.33333333vw; }
  .col-xs-vw-8 {
    width: 66.66666667vw; }
  .col-xs-vw-9 {
    width: 75vw; }
  .col-xs-vw-10 {
    width: 83.33333333vw; }
  .col-xs-vw-11 {
    width: 91.66666667vw; }
  .col-xs-vw-12 {
    width: 100vw; }
  .grid-col-xs-1 {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr); }
  .grid-col-xs-2 {
    -ms-grid-columns: (2fr)[2];
    grid-template-columns: repeat(2, 2fr); }
  .grid-col-xs-3 {
    -ms-grid-columns: (3fr)[3];
    grid-template-columns: repeat(3, 3fr); }
  .grid-col-xs-4 {
    -ms-grid-columns: (4fr)[4];
    grid-template-columns: repeat(4, 4fr); }
  .grid-col-xs-5 {
    -ms-grid-columns: (5fr)[5];
    grid-template-columns: repeat(5, 5fr); }
  .grid-col-xs-6 {
    -ms-grid-columns: (6fr)[6];
    grid-template-columns: repeat(6, 6fr); }
  .grid-gap-xs-1 {
    grid-gap: 1px; }
  .grid-gap-xs-2 {
    grid-gap: 2px; }
  .grid-gap-xs-3 {
    grid-gap: 3px; }
  .grid-gap-xs-4 {
    grid-gap: 4px; }
  .grid-gap-xs-5 {
    grid-gap: 5px; }
  .grid-gap-xs-6 {
    grid-gap: 6px; }
  .grid-gap-xs-7 {
    grid-gap: 7px; }
  .grid-gap-xs-8 {
    grid-gap: 8px; }
  .grid-gap-xs-9 {
    grid-gap: 9px; }
  .grid-gap-xs-10 {
    grid-gap: 10px; }
  .grid-gap-xs-11 {
    grid-gap: 11px; }
  .grid-gap-xs-12 {
    grid-gap: 12px; }
  .grid-gap-xs-13 {
    grid-gap: 13px; }
  .grid-gap-xs-14 {
    grid-gap: 14px; }
  .grid-gap-xs-15 {
    grid-gap: 15px; }
  .grid-gap-xs-16 {
    grid-gap: 16px; }
  .grid-gap-xs-17 {
    grid-gap: 17px; }
  .grid-gap-xs-18 {
    grid-gap: 18px; }
  .grid-gap-xs-19 {
    grid-gap: 19px; }
  .grid-gap-xs-20 {
    grid-gap: 20px; }
  .grid-gap-xs-21 {
    grid-gap: 21px; }
  .grid-gap-xs-22 {
    grid-gap: 22px; }
  .grid-gap-xs-23 {
    grid-gap: 23px; }
  .grid-gap-xs-24 {
    grid-gap: 24px; }
  .grid-gap-xs-25 {
    grid-gap: 25px; }
  .grid-gap-xs-26 {
    grid-gap: 26px; }
  .grid-gap-xs-27 {
    grid-gap: 27px; }
  .grid-gap-xs-28 {
    grid-gap: 28px; }
  .grid-gap-xs-29 {
    grid-gap: 29px; }
  .grid-gap-xs-30 {
    grid-gap: 30px; }
  .grid-gap-xs-31 {
    grid-gap: 31px; }
  .grid-gap-xs-32 {
    grid-gap: 32px; }
  .grid-gap-xs-33 {
    grid-gap: 33px; }
  .grid-gap-xs-34 {
    grid-gap: 34px; }
  .grid-gap-xs-35 {
    grid-gap: 35px; }
  .grid-gap-xs-36 {
    grid-gap: 36px; }
  .grid-gap-xs-37 {
    grid-gap: 37px; }
  .grid-gap-xs-38 {
    grid-gap: 38px; }
  .grid-gap-xs-39 {
    grid-gap: 39px; }
  .grid-gap-xs-40 {
    grid-gap: 40px; }
  .grid-gap-xs-41 {
    grid-gap: 41px; }
  .grid-gap-xs-42 {
    grid-gap: 42px; }
  .grid-gap-xs-43 {
    grid-gap: 43px; }
  .grid-gap-xs-44 {
    grid-gap: 44px; }
  .grid-gap-xs-45 {
    grid-gap: 45px; }
  .grid-gap-xs-46 {
    grid-gap: 46px; }
  .grid-gap-xs-47 {
    grid-gap: 47px; }
  .grid-gap-xs-48 {
    grid-gap: 48px; }
  .grid-gap-xs-49 {
    grid-gap: 49px; }
  .grid-gap-xs-50 {
    grid-gap: 50px; }
  [class*="col-"] {
    margin-bottom: 1.5rem; }
  [class*=padding-] {
    padding: 0; }
  html {
    font-size: 16px; }
  .hide-mobile {
    display: none; }
  .show-mobile {
    display: block; }
  #main {
    padding-top: 4rem; }
  #header {
    padding-top: .5rem;
    padding-bottom: .5rem; }
    #header [class*="col-"] {
      margin-bottom: 0; }
    #header .burger.active span:before {
      -webkit-transform: rotate(45deg) translateY(-6px);
      -ms-transform: rotate(45deg) translateY(-6px);
      transform: rotate(45deg) translateY(-6px); }
    #header .burger.active span:after {
      -webkit-transform: rotate(-45deg) translateY(6px);
      -ms-transform: rotate(-45deg) translateY(6px);
      transform: rotate(-45deg) translateY(6px); }
    #header .burger span {
      display: block;
      height: 1rem; }
      #header .burger span:before, #header .burger span:after {
        content: '';
        display: block;
        position: relative;
        width: 1.75rem;
        height: 3px;
        background-color: #2D0AF0;
        -webkit-transform-origin: left;
        -ms-transform-origin: left;
        transform-origin: left;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
      #header .burger span:after {
        top: .5rem; }
    #header .account {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
      #header .account .button {
        width: 2.3rem;
        height: 2.3rem;
        padding: 0;
        background-position: 50% 50%; }
    #header .mobile-nav {
      position: absolute;
      padding: 2.5rem 1rem;
      background-color: #fff;
      top: 4rem;
      height: calc(100vh - 4rem);
      left: 0;
      width: 70%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      z-index: 1;
      -webkit-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      -webkit-transform: translateX(calc(-100% - 4px));
      -ms-transform: translateX(calc(-100% - 4px));
      transform: translateX(calc(-100% - 4px)); }
      #header .mobile-nav.open {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0); }
      #header .mobile-nav #nav ul {
        display: block; }
        #header .mobile-nav #nav ul li {
          margin-right: 0; }
          #header .mobile-nav #nav ul li:not(:last-child) {
            margin-bottom: 1rem; }
      #header .mobile-nav .meta .widget.contacts {
        margin-top: 2rem; }
        #header .mobile-nav .meta .widget.contacts ul {
          list-style: none; }
          #header .mobile-nav .meta .widget.contacts ul li:not(:last-child) {
            margin-bottom: 1rem; }
          #header .mobile-nav .meta .widget.contacts ul li p {
            color: #F4F4F4; }
          #header .mobile-nav .meta .widget.contacts ul li a {
            text-decoration: none;
            color: #2D0AF0; }
            #header .mobile-nav .meta .widget.contacts ul li a.phone {
              font-size: 1.3rem;
              color: #222; }
      #header .mobile-nav .meta .copyright {
        font-size: .75rem;
        padding-top: 1.2rem;
        margin-top: 1.2rem;
        border-top: 1px solid #DFDFDF; }
    #header .overlay {
      position: absolute;
      top: 4rem;
      left: 0;
      width: 100vw;
      height: calc(100vh - 4rem);
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 0;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      -webkit-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; }
      #header .overlay.open {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        cursor: pointer; }
  #page-head {
    padding: 1rem 0; }
  .single-page-content {
    margin-top: 0; }
  #footer .widget {
    padding-right: 2rem; } }
