@import '../_vars';

// footer styles

#footer {
	padding-top: 4rem;
	margin-top: 4rem;
	background-color: $grey-2;
	.widget {
		padding-right: 4rem;
		.title {
			color: rgba(34, 34, 34, 0.5);
			margin-bottom: 1rem;
		}
		ul {
			list-style: none;
			li {
				line-height: 1.4;
				&:not(:last-child) {
					margin-bottom: 1.5rem;
				}
				p {
					color: rgba(34, 34, 34, 0.5);
				}
				a {
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
		// special styles
		&.app {
			.market {
				display: inline-block;
				&:not(:last-child) {
					margin-right: 1rem;
				}
			}
			img {
				width: 2.3rem;
				height: 2.3rem;
			}
		}
		&.contacts {
			.phone {
				font-size: 1.74rem;
				color: $black;
			}
			a {
				color: $blue;
			}
		}
	}
	.copyright {
		padding: 1.5rem 0;
		margin-top: 3rem;
		border-top: 1px solid $grey;
		color: $grey;
	}
}