@import '../_vars';

.single-page-content {
	margin-top: 2rem;

	// content box

	.content-box {
		padding-right: 4rem;
		h1 {
			font-size: 3rem;
			margin-bottom: 2rem;
		}
		table {
			border-collapse: collapse;
			margin-bottom: 1rem;
			&, th, td {
				border: 1px solid;
				border-color: $grey;
			}
			td {
				padding: .85rem;
			}
		}

		// for mobile

		@media screen and (min-width: 320px) and (max-width: 767px) {
			padding-right: 0;
			h1 {
				font-size: 2.2rem;
			}
		}
	}
}