@import '../_vars';

.single-page-content {

	// paginiation
	
	.pagination {
		display: flex;
		justify-content: space-between;
		margin-top: 3rem;
		a {
			text-decoration: none;
			position: relative;
			transition: all .2s ease-in;
			&:after {
				content: '';
				position: absolute;
				top: .2rem;
				bottom: auto;
				width: 1rem;
				height: 1rem;
				left: 0;
				background: url(../images/icons/arrow.svg) center center no-repeat;
				background-size: contain;
			}
			&:hover {
				text-decoration: underline;
			}
		}
		.prev {
			color: $grey;
			padding-left: 1.4rem;
			&:hover {
				color: $blue;
			}
		}
		.next {
			color: $blue;
			padding-right: 1.4rem;
			&:after {
				left: auto;
				right: 0;
				transform: rotate(180deg);
			}
		}
	}
}