@import '../_vars';

.single-page-content {
	.sidebar {
		.sticky {
			position: sticky;
    		top: 7.5rem;
    		.title {
				margin-bottom: 1.5rem;
				font-weight: bold;
			}
			.post {
				padding: 2rem 0;
				border-bottom: 1px solid $grey;
				a {
					text-decoration: none;
					&:hover {
						h4 {
							text-decoration: underline;
						}
					}
				}
			}
			.more-btn {
				color: $blue;
				text-decoration: none;
				display: inline-block;
				margin-top: 2rem;
				&:hover {
					text-decoration: underline;
				}
			}
		}

		// mobile

		@media screen and (min-width: 320px) and (max-width: 767px) {
			margin-top: 3rem;
		}

	}
}