@import '../parts/_vars';

// fonts

@font-face {
    font-family: 'Stolzl';
    src: url('../fonts/Stolzl-Bold.woff2');
    font-weight: bold;
    font-style: normal;
}

// @font-face {
//     font-family: 'Stolzl';
//     src: url('../fonts/Stolzl-Medium.woff2');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: 'Stolzl';
    src: url('../fonts/Stolzl-Regular.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Stolzl';
    src: url('../fonts/Stolzl-Light.woff2');
    font-weight: 100;
    font-style: normal;
}

//

* {
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: $black;
}

// buttons

.button {
    background-color: $blue;
    color: $white;
    border-radius: 5rem;
    padding: .65rem 1.2rem;
    text-decoration: none;
    display: inline-block;
    transition: all .75s ease-in-out;
    &.icon {
        padding-left: 3.3rem;
        background-repeat: no-repeat;
        background-position: 11% 50%;
        background-size: .85rem;
        &.account {
            background-image: url(../images/icons/account.svg);
        }
    }
    // state
    &:hover {
        box-shadow: -2px 2px 13px rgba(45, 10, 240, 0.65);
    }
}

// text politics

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

h1,h2,h3,h4 {
    font-weight: normal;
}

.text-block {
    color: $black;
    h1,h2,h3,h4 {
        margin-bottom: 1.5rem;
        font-weight: bold;
    }
    p {
        line-height: 1.4;
        &:not(:last-child) {
            margin-bottom: .85rem;
        }
    }
    img {
        margin: 1.5rem 0;
    }
}

// scroll

::-webkit-scrollbar {
    width: 5px
}

::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 2px;
    border-color: #fafafa;
    background-color: #111;
}

::-webkit-scrollbar-thumb:hover {
    border-width: 1px 1px 1px 2px;
    border-color: #fafafa;
    background-color: #666
}

::-webkit-scrollbar-track {
    border-width: 0
}

::-moz-scrollbar {
    width: 5px
}

::-moz-scrollbar-thumb {
    border-width: 1px 1px 1px 2px;
    border-color: #fafafa;
    background-color: #444;
}

::-moz-scrollbar-thumb:hover {
    border-width: 1px 1px 1px 2px;
    border-color: #fafafa;
    background-color: #666
}

::-moz-scrollbar-track {
    border-width: 0
}

// global flex blocks properties

.show-mobile {
    display: none;
}

.dis-flex {
    display: flex;
}

.align-self-center {
    align-self: center;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-base {
    align-items: baseline;
}

.align-content-end {
    align-content: flex-end;
}

.align-content-center {
    align-content: center;
}

.align-content-between {
    align-content:  space-between;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-start {
    justify-content: flex-start;
}

.flex-wrap-wrap {
    flex-wrap: wrap;
}

.flex-direction-col {
    flex-direction: column;
}

// global display grid blocks properties

.dis-grid {
    display: grid;
}

@for $i from 1 through 50 {
    .grid-gap-#{$i} {
        grid-gap: #{$i}px;
    }
}

.grid-col-lg-1 {
    grid-template-columns: repeat(1, 1fr)
}

.grid-col-lg-2 {
    grid-template-columns: repeat(2, 2fr)
}

.grid-col-lg-3 {
    grid-template-columns: repeat(3, 3fr)
}

.grid-col-lg-4 {
    grid-template-columns: repeat(4, 4fr)
}

.grid-col-lg-5 {
    grid-template-columns: repeat(5, 5fr)
}

.grid-col-lg-6 {
    grid-template-columns: repeat(6, 6fr)
}

// margins

.margin-rl-auto {
    margin-left: auto;
    margin-right: auto;
}

@for $i from 5 through 50 {
    .padding-t-#{$i} {
        padding-top: #{$i}px;
    }
    .margin-t-#{$i} {
        margin-top: #{$i}px; 
    }
}