$white: #fff;
$black: #222;
$blue: #2D0AF0;
$grey: #DFDFDF;
$grey-2: #F4F4F4;

// responsive

@mixin mobileRules {

	// main

	#main {
		padding-top: 4rem;
	}

	// header

	#header {
		padding-top: .5rem;
		padding-bottom: .5rem;
		[class*="col-"] {
			margin-bottom: 0;
		}
		.burger {
			&.active {
				span {
					&:before {
						transform: rotate(45deg) translateY(-6px);
					}
					&:after {
						transform: rotate(-45deg) translateY(6px);
					}
				}
			}
			span {
				display: block;
				height: 1rem;
				&:before, &:after {
					content: '';
					display: block;
					position: relative;
					width: 1.75rem;
					height: 3px;
					background-color: $blue;
					transform-origin: left;
					transition: all .2s ease-in-out;
				}
				&:after {
					top: .5rem;
				}
			}
		}
		.account {
			display: flex;
			justify-content: flex-end;
			.button {
				width: 2.3rem;
			    height: 2.3rem;
			    padding: 0;
			    background-position: 50% 50%;
			}
		}
		.mobile-nav {
			position: absolute;
			padding: 2.5rem 1rem;
			background-color: $white;
			top: 4rem;
			height: calc(100vh - 4rem);
			left: 0;
			width: 70%;
			display: flex;
		    flex-direction: column;
		    justify-content: space-between;
		    z-index: 1;
		    transition: all .2s ease-in-out;
		    transform: translateX(calc(-100% - 4px));
		    &.open {
		    	transform: translateX(0);
		    }
			#nav {
				ul {
					display: block;
					li {
						margin-right: 0;
						&:not(:last-child) {
							margin-bottom: 1rem;
						}
					}
				}
			}
			.meta {
				.widget.contacts {
					margin-top: 2rem;
					ul {
						list-style: none;
						li {
							&:not(:last-child) {
								margin-bottom: 1rem;
							}
							p {
								color: $grey-2;
							}
							a {
								text-decoration: none;
								color: $blue;
								&.phone {
									font-size: 1.3rem;
									color: $black;
								}
							}
						}
					}
				}
				.copyright {
					font-size: .75rem;
					padding-top: 1.2rem;
					margin-top: 1.2rem;
					border-top: 1px solid $grey;
				}
			}
		}
		.overlay {
			position: absolute;
			top: 4rem; left: 0;
			width: 100vw;
			height: calc(100vh - 4rem);
			background-color: rgba(0,0,0,.5);
			z-index: 0;
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			transition: all .2s ease-in-out;
			&.open {
				opacity: 1;
				visibility: visible;
				pointer-events: all;
				cursor: pointer;
			}
		}
	}

	// page-head

	#page-head {
		padding: 1rem 0;
	}

	// single page content 

	.single-page-content {
		margin-top: 0;
	}

	// footer

	#footer {
		.widget {
			padding-right: 2rem;
		}
	}

}